/*
 * CONTENTS
 *
 * SETTINGS
 * Global...............Globally-available variables and config.
 *
 * GENERIC
 * Box-sizing...........Better default `box-sizing`.
 *
 * BASE
 * Headings.............H1–H6 styles.
 *
 * COMPONENTS
 * #header............The main page header.
 * #footer............The main page footer.
 * buttons..............Button elements.
 *
 * SECTIONS
 *
 * MODIFIER CLASSES
 *
 */

/*------------------------------------*\
  SETTINGS
\*------------------------------------*/

/*------------------------------------*\
GENERIC
\*------------------------------------*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*------------------------------------*\
BASE
\*------------------------------------*/

/* body */
/* headings */
/* paragraphs */

body {
  font-family: "Zen Antique", serif;
  --color-navy: #2d3950;
  --color-teal: aquamarine;
  --color-offwhite: #ecedee;
}

/*______________________*/
/* NAVIGATION CSS/*
/*______________________*/
.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
}
.nav-tem {
  border: 0.5;
  border-radius: 10%;
}
.nav-item:hover {
  background-color: var(--color-teal);
  color: var(var(--color-teal));
}
/*______________________*/
/* TILE CSS/*
/*______________________*/

.tile {
  min-width: 20rem;
  background-color: aquamarine;
  border-radius: 15%;
  font-size: 5vw;
  text-align: justify;
}

/*______________________*/
/* JS-RELATED CSS/*
/*______________________*/

.hidden {
  display: none;
}

/*______________________*/
/* VISUALISER CSS/*
/*______________________*/
.visualiser {
  display: flex;
  border: thick double aquamarine;
  border-radius: 3%;
  max-width: 40rem;
  text-align: justify;
}

/*______________________*/
/* LAYOUT CSS/*
/*______________________*/

.center {
  margin-left: auto;
  margin-right: auto;
  max-width: 60rem;
}

.width-sm {
  max-width: 20rem;
}

.width-lg {
  max-width: 60rem;
}

.stack-sm > * + * {
  margin-top: 0.5rem;
}

.stack-md > * + * {
  margin-top: 1rem;
}

.stack-lg > * + * {
  margin-top: 2rem;
}

.stack-xl > * + * {
  margin-top: 4rem;
}

.row {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

.gap-lg {
  gap: 2rem;
}

.gap-xl {
  gap: 4rem;
}

.justify-space-between {
  justify-content: space-between;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
}

.column-lg {
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
}

/*______________________*/
/* LANDING PAGE CSS/*
/*______________________*/

.landing-title {
  display: none;
}
